:root {
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  margin-top: 5em;
  text-align: center;
}

.header .logo {
  margin-bottom: 3em;
  max-width: 20%;
}

.header h1 {
  font-size: 1.4em;
  font-weight: 400;
  color: var(--gray);
}

.header h1 b {
  color: black;
}

.header p {
  margin-top: 1.2em;
  font-size: 0.8em;
}

.charts {
  display: flex;
  min-width: 100%;
  margin: 3em 1.4em 0 1.4em;
}

.dashboard {
  max-width: 100%;
  margin: auto;
  padding: 1em 1.4em 0 1.4em;
}
